.textSection {
  font-size: 25px;
}

.text {
  margin: 20px 0;
}

.housesContainer {
  display: flex;
  width: 100%;
}

.housesGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.housesGalleryImage {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.housesMobileLabel {
  display: none;
  font-size: 20px;
}

.housesMobileTitle {
  font-size: 25px;
}

@media only screen and (max-width: 1800px) {
  .housesGalleryImage {
    height: 300px;
  }
}

@media (max-width: 1300px) {
  .housesGalleryImage {
    height: 200px;
  }
}

@media (max-width: 1000px) {
  .housesContainer {
    display: block;
  }
  .housesGallery {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .housesGalleryImage {
    width: 60%;
    height: auto;
    cursor: default;
  }
  .housesMobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .housesGalleryImage {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .housesGalleryImage {
    width: 100%;
    height: auto;
  }
}