.sidebar {
    height: 100%;
    width: 250px;
    display: block;
    z-index: 10;
    overflow-y: auto;
}

.navList {
    margin-left: 40;
    text-align: left;
}

.navItem {
    margin: 10px 0;
}

.navLink {
    text-decoration: none;
    font-size: 22px;
    transition: background-color 0.3s ease;
    display: block;
    padding: 5px 0;
}

.navLink:hover {
    color: var(--hover-text);
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}
