.tinyHousesPage {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tinyHousesContainer {
    display: flex;
    width: 100%;
}

.tinyHousesGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tinyHousesGalleryImage {
    width: auto;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
}

.tinyHousesMobileLabel {
    display: none;
    font-size: 20px;
}

.tinyHousesMobileTitle {
    font-size: 25px;
}

@media (max-width: 1200px) {
    .tinyHousesGalleryImage {
        height: 400px;
    }
}

@media (max-width: 1000px) {
    .tinyHousesGallery {
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }

    .tinyHousesGalleryImage {
        width: 70%;
        height: auto;
        cursor: default;
    }

    .tinyHousesMobileLabel {
        display: block;
    }
}

@media (max-width: 800px) {
    .tinyHousesGalleryImage {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .tinyHousesGalleryImage {
        width: 100%;
    }
}