.tinyHousesPage {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .tinyHousesContainer {
    display: flex;
    width: 100%;
  }
  
  .tinyHousesGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tinyHousesGalleryImage {
    width: auto;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .tinyHousesGalleryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .tinyHousesMobileLabel {
    font-size: 20px;
  }
  
  .tinyHousesMobileTitle {
    font-size: 25px;
  }
  
  @media (max-width: 1000px) {
    .tinyHousesGallery {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 60px;
    }
  
    .tinyHousesGalleryCard {
      display: block;
      min-width: 70%;
    }
  
    .tinyHousesGalleryImage {
      width: 100%;
      height: auto;
      cursor: default;
    }
  
    .tinyHousesMobileLabel {
      display: block;
    }
  }
  
  @media (max-width: 800px) {
    .tinyHousesGalleryCard {
      min-width: 90%;
    }
  }