.earlierWorkPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.earlierWorkContainer {
  display: flex;
  width: 100%;
}

.earlierWorkGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.earlierWorkGalleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.earlierWorkMobileLabel {
  font-size: 20px;
}

.earlierWorkMobileTitle {
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .earlierWorkGalleryImage {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .earlierWorkGallery {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .earlierWorkGalleryImage {
    width: 70%;
    height: auto;
    cursor: default;
  }

  .earlierWorkMobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .earlierWorkGalleryImage {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .earlierWorkGalleryImage {
    width: 100%;
  }
}