.earlierWorkPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.earlierWorkContainer {
  display: flex;
  width: 100%;
}

.earlierWorkGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.earlierWorkGalleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.earlierWorkGalleryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.earlierWorkMobileLabel {
  font-size: 20px;
}

.earlierWorkMobileTitle {
  font-size: 25px;
}

@media (max-width: 1000px) {
  .earlierWorkGallery {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 60px;
  }

  .earlierWorkGalleryCard {
    display: block;
    min-width: 70%;
  }

  .earlierWorkGalleryImage {
    width: 100%;
    height: auto;
    cursor: default;
  }

  .earlierWorkMobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .earlierWorkGalleryCard {
    min-width: 90%;
  }
}