.aboutGallery {
  margin-top: 40px;
}

.aboutMobileTitle {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .aboutContainer {
    padding: 0 20px;
  }
  .aboutGallery {
    display: flex;
    justify-content: center;
  }
  .aboutGalleryImage {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .aboutContainer {
    padding: 0 10px;
  }
}