.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.imageWrapper {
  text-align: center;
}

.aboutImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.imageCaption {
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
}

.linkWrapper {
  text-align: center;
}

.aboutLink {
  font-size: 25px;
  text-decoration: none;
}

.textWrapper p {
  font-size: 25px;
}

.statementWrapper {
  font-size: 25px;
}

.podcastsHeading {
  font-size: 25px;
}

.carouselHeading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.podcastCarousel {  
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.podcastCarousel::-webkit-scrollbar {
  height: 8px;
}

.podcastCarousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.podcastCarousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.podcastImageCard {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
}

.podcastImage {
  height: 300px;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
}