.bioContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.imageCard {
  width: 400px;
}

.imageWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.bioImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.imageDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 8px;
  margin-top: 10px;
  text-align: left;
}

.imageTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.imageDescription {
  font-size: 16px;
  color: #333;
  margin: 0;
  display: inline;
}

@media (max-width: 1000px) {
  .imageCard {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .imageCard {
    width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  .imageDescription {
    color: var(--primary-text);
  }
}