.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.thanks {
    flex: 1;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 25px;
}

.success {
    font-size: 25px;
    line-height: 1.6;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.randomImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .thanks {
        max-width: 100%;
    }

    .imageContainer {
        max-width: 100%;
    }
}
