.uploadSection {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-bottom: 20px;
  }  

  @media only screen and (max-width: 1000px) {
    .uploadSection {
        padding: 0;
    }

    .imageUpload {
        padding: 10px;
    }
  }