.newWorkPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.newWorkContainer {
  display: flex;
  width: 100%;
}

.newWorkGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.newWorkGalleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.newWorkMobileLabel {
  font-size: 20px;
}

.newWorkMobileTitle {
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .newWorkGalleryImage {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .newWorkGallery {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .newWorkGalleryImage {
    width: 70%;
    height: auto;
    cursor: default;
  }

  .newWorkMobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .newWorkGalleryImage {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .newWorkGalleryImage {
    width: 100%;
  }
}