.container {
    width: 100%;
}

.form {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputField,
.textarea {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border 0.3s ease;
}

.inputField:focus,
.textarea:focus {
    border-color: var(--primary-text);
    outline: none;
}

.textarea {
    resize: vertical;
    min-height: 150px;
}

.hidden {
    display: none;
}

.button {
    background-color: var(--primary-text);
    color: white;
    padding: 14px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    max-width: 300px;
    margin: auto;
}

.button:hover {
    background-color: var(--hover-text);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
    margin: 50px auto 0;
    text-align: center;
}

.contactLink {
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .form {
        padding: 15px;
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .form {
        padding: 10px;
        width: 100%;
    }

    .contactInfo {
        font-size: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    .button {
        color: #2e2c2e;
        background-color: #cccbcc;
    }

    .form {
        background-color: rgb(37, 37, 37);
    }

    .inputField {
        background-color: #cccbcc;
        color: #2e2c2e;
    }

    .textarea {
        background-color: #cccbcc;
        color: #2e2c2e;
    }
}