.exhibitionsImageContainer {
  margin-top: 40px;
}

.exhibitionsGallery {
  width: 60%;
  font-size: 18px;
  font-style: italic;
}

.exhibitionsGalleryImage {
  width: 100%;
  height: auto;
}

.exhibitionsMobileTitle {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .exhibitionsContainer {
    padding: 0 20px;
    } 
    .exhibitionsGallery {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: auto;
    }
}

@media only screen and (max-width: 600px) {
  .exhibitionsContainer {
    padding: 0 10px;
    }

    .exhibitionsGallery {
      width: 100%;
    }
}