  .title {
    font-family: 'Verdana', sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #2d3436;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .title:hover {
    color: #1abc9c;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .space {
    font-weight: lighter;
    color: #7f8c8d;
  }