.collagePage {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .collageContainer {
    display: flex;
    width: 100%;
  }
  
  .collageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .collageGalleryImage {
    width: auto;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .collageGalleryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .collageMobileLabel {
    font-size: 20px;
  }
  
  .collageMobileTitle {
    font-size: 25px;
  }
  
  @media (max-width: 1000px) {
    .collageGallery {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 60px;
    }
  
    .collageGalleryCard {
      display: block;
      min-width: 70%;
    }
  
    .collageGalleryImage {
      width: 100%;
      height: auto;
      cursor: default;
    }
  
    .collageMobileLabel {
      display: block;
    }
  }
  
  @media (max-width: 800px) {
    .collageGalleryCard {
      min-width: 90%;
    }
  }