.collagePage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.collageContainer {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.collageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.collageGalleryImage {
    width: auto;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
}

.collageMobileLabel {
    display: none;
    font-size: 20px;
}

.collageMobileTitle {
    font-size: 25px;
}

@media (max-width: 1200px) {
    .collageGalleryImage {
        height: 400px;
    }
}

@media (max-width: 1000px) {
    .colageContainer {
        margin-bottom: 30px;
    }

    .collageGallery {
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }

    .collageGalleryImage {
        width: 70%;
        height: auto;
        cursor: default;
    }

    .collageMobileLabel {
        display: block;
    }
}

@media (max-width: 800px) {
    .collageGalleryImage {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .collageGalleryImage {
        width: 100%;
    }
}