.constructionsPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.constructionsContainer {
  display: flex;
  width: 100%;
}

.constructionsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.constructionsGalleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.constructionsGalleryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.constructionsMobileLabel {
  font-size: 20px;
}

.constructionsMobileTitle {
  font-size: 25px;
}

@media (max-width: 1000px) {
  .constructionsGallery {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 60px;
  }

  .constructionsGalleryCard {
    display: block;
    min-width: 70%;
  }

  .constructionsGalleryImage {
    width: 100%;
    height: auto;
    cursor: default;
  }

  .constructionsMobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .constructionsGalleryCard {
    min-width: 90%;
  }
}