.constructionsPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.constructionsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.constructionsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.constructionsGalleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.constructionsMobileLabel {
  display: none;
  font-size: 20px;
}

.constructionsMobileTitle {
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .constructionsGalleryImage {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .constructionsContainer {
    margin-bottom: 30px;
  }

  .constructionsGallery {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .constructionsGalleryImage {
    width: 70%;
    height: auto;
    cursor: default;
  }

  .constructionsMobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .constructionsGalleryImage {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .constructionsGalleryImage {
    width: 100%;
  }
}