.bioContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.bioGallery {
  font-size: 18px;
  font-style: italic;
}

.bioGalleryImage {
  width: 60%;
  height: auto;
}

.bioMobileTitle {
  font-weight: bold;
  margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
  .bioContainer {
    padding: 0 20px;
  }
  .bioGallery {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .bioGalleryImage {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .bioContainer {
    padding: 0 10px;
  }
}