.bioContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

@media only screen and (max-width: 1000px) {
  .bioContainer {
    padding: 0 20px;
  }
  .bioGallery {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .bioGalleryImage {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .bioContainer {
    padding: 0 10px;
  }
}