.podcastContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linksRow {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.buttonLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-text);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buttonLink:hover {
    background-color: var(--hover-text);
}

.linkWrapper {
    text-align: center;
}

.link {
    font-size: 20px;
    text-decoration: none;
}

.statementWrapper {
    font-size: 25px;
}

.visuallyHidden {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .link {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .statementWrapper {
        font-size: 18px;
    }
}

@media (prefers-color-scheme: dark) {
  .buttonLink {
    background-color: #0c0b0c;
  }

  .buttonLink:hover {
    background-color: black;
  }
}