.homeContainer {
  padding: 20px;
  display: flex;
  margin: auto;
  width: 70%;
  gap: 20px;
}

.homeGallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.homeGalleryCard {
  width: 100%;
  border-radius: 8px;
}

.homeGalleryImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}