.homePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .homePageContainer img {
    width: 70%;
    height: auto;
    margin-top: 20px;
  }

  @media only screen and (max-width: 1000px) {
    .homePageContainer img {
        width: 95%;
      }
  }
  