.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 55%;
}

.homeGallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.homeGalleryImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (max-width: 1500px) {
  .homeContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .homeContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  .homeContainer {
    width: 100%;
  }
}