.sidebar {
    width: 200px;
    padding: 20px;
  }
  
  .sidebar ul {
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .sidebar li:hover,
  .sidebar .active {
    color: var(--hover-text);
  }
  