.sidebar {
    width: 200px;
    padding: 20px;
  }
  
  .sidebar ul {
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .sidebar li:hover,
  .sidebar .active {
    color: var(--hover-text);
  }
  
  @media only screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;      
    }
    
    .sidebar ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0px 30px;
    }
  }