.commissionsPage {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .commissionsContainer {
    display: flex;
    width: 100%;
  }
  
  .commissionsGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .commissionsGalleryImage {
    width: auto;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .commissionsGalleryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .commissionsMobileLabel {
    font-size: 20px;
  }
  
  .commissionsMobileTitle {
    font-size: 25px;
  }
  
  @media (max-width: 1000px) {
    .commissionsGallery {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 60px;
    }
  
    .commissionsGalleryCard {
      display: block;
      min-width: 70%;
    }
  
    .commissionsGalleryImage {
      width: 100%;
      height: auto;
      cursor: default;
    }
  
    .commissionsMobileLabel {
      display: block;
    }
  }
  
  @media (max-width: 800px) {
    .commissionsGalleryCard {
      min-width: 90%;
    }
  }