.imageUpload {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f7f6f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .label {
    font-size: 20px;
  }
  
  .inputField {
    padding: 8px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .previewImage {
    max-width: 40%;
    height: auto;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;    
  }

  .buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
  }

  .button {
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--primary-text);
    color: white;
    align-self: flex-end;
   }
   
   .submitButton:hover {
     background-color: var(--hover-text);
   }