.imageUpload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f7f6f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


.inputField {
  padding: 8px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.previewImage {
  max-width: 40%;
  height: auto;
  padding: 5px;
  border-radius: 8px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.button {
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--primary-text);
  color: white;
  align-self: flex-end;
  font-size: 18px;
  cursor: pointer;
}

.colorField {
  display: flex;
  gap: 10px;
  align-items: center;
}

.colorPreview {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  aspect-ratio: 1 / 1;
  display: block;
  padding: 0;
}

.colorLabel {
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  .button {
    border: none;
    background-color: #0c0b0c;
  }

  .inputField {
    color: #2e2c2e;
    background-color: #cccbcc;
  }

  .colorPreview {
    background-color: #2e2c2e;
  }

  .imageUpload {
    background-color: #2e2c2e;
    border: none;
  }
}