  .podcastCarouselWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .carouselHeading {
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px;
      color: #333;
  }

  .podcastCarousel {
      display: flex;
      flex-wrap: wrap;
      gap: 50px 30px;
      justify-content: space-around;
  }

  .podcastImageCard {
      border-radius: 8px;
      padding: 20px;
      width: 40%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .podcastImage {
      width: 100%;
      height: auto;
      border-radius: 8px;
  }

  @media only screen and (max-width: 1000px) {

      .podcastCarouselWrapper {
          width: 80%;
          margin: auto;
      }

      .podcastImageCard {
          width: 100%;
      }
  }

  @media only screen and (max-width: 1000px) {
      .podcastCarouselWrapper {
          width: 95%;
      }
  }