.container {
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 20px 0;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0;
    }

    .main {
        margin-top: 20px;
    }
}