.artworkContainer {
  display: flex;
  width: 100%;
}

.artworkGallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  justify-content: left;
}


.artworkGalleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
}

@media only screen and (max-width: 1500px) {
  
}

@media only screen and (max-width: 1000px) {
  .artworkGallery {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .artworkGallery {
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .artworkGalleryImage {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 425px) {
  .artworkGalleryImage {
    width: 95%;
  }
}