.container {
  text-align: center;
  background-color: #111;
  color: white;
  padding: 5px;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
}

.text {
  font-size: 1.4rem;
  color: #bbb;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: 0;
  }

  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1.2rem;
  }
}