.paginationControls {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.buttonContainer {
    width: 100px;
}

.arrowButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arrowButton:disabled {
    color: #aaa;
    cursor: not-allowed;
}

.arrowButton:hover:not(:disabled) {
    color: var(--hover-text);
}

.pageNumber {
    width: 100px;
    font-size: 20px;
}