.gallery {
    width: 100%;
}

.paginationControls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
}

.buttonContainer {
    width: 100px;
}

.arrowButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arrowButton:disabled {
    color: #aaa;
    cursor: not-allowed;
}

.arrowButton:hover:not(:disabled) {
    color: var(--hover-text);
}

.pageNumber {
    width: 100px;
    font-size: 20px;
}

.readMoreToggle {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5px;
    font-size: 18px;
  }

  .mobileLabel {
    text-align: left;
  }