.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container {
  display: flex;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.galleryImage {
  width: auto;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.galleryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mobileLabel {
  font-size: 20px;
}

.mobileTitle {
  font-size: 25px;
}

@media (max-width: 1000px) {
  .gallery {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 60px;
  }

  .galleryCard {
    display: block;
    min-width: 70%;
  }

  .galleryImage {
    width: 100%;
    height: auto;
    cursor: default;
  }

  .mobileLabel {
    display: block;
  }
}

@media (max-width: 800px) {
  .galleryCard {
    min-width: 90%;
  }
}