.shopPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.shopContainer {
  display: flex;
  width: 100%;
}

.imageWrapper {
  cursor: pointer;
}

.visuallyHidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}