.yearGroup {
    margin-bottom: 40px;
}

.year {    
    font-size: 30px;
    margin-bottom: 10px;
}

.text {
    font-size: 22px;
    margin-bottom: 10px;
}

.link {
    font-size: 18px;
}

.entry {
    margin-bottom: 25px;
}

.buttonLink {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding:6px 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonLink:hover {
  background-color: #555;
}