.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.welcomeText {
  flex-grow: 1;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-text);
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-text);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--hover-text);
}

@media (prefers-color-scheme: dark) {
  .welcomeText {
    color: #2e2c2e;
  }

  .button {
    background-color: #2e2c2e;
  }

  .button:hover {
    background-color: #2e2c2e;
  }
}